[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "leann-core"
version = "0.1.0"
description = "Core API and plugin system for Leann."
readme = "README.md"
requires-python = ">=3.9"
license = { text = "MIT" }

dependencies = [
    "numpy>=1.20.0"
]

[tool.setuptools.packages.find]
where = ["src"]